# SNACS testing dir
HOME=/home/llsc-user/SNACS/code/

# clean target directories before starting?
CLEAN=yes

# get fresh data sources
SOURCE=data/amazon0302.txt
SOURCE=data/ca-AstroPh.txt
#SOURCE=data/*.nde

# execute tests in the following order, for each file, for each source
EXEC=magnien,lasagne,teexgraph,sumsweep
